<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"> 

	<context:annotation-config />
    <bean class="com.adhiraj.beans.Student" id="stdObj" />
	
</beans>

<!-- Here, we are using Context Schema for this configuration file but not the normal
one that we used to use earlier. In general, this schema is used when we use annotation
in Bean class -->

<!-- The context:annotation-config tag activates various annotations to be detected in 
bean classes -->