<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <bean class="com.adhiraj.validators.StudentValidators" id="stdValidators">
    	<property name="resource" value="/com/adhiraj/resources/error_messages.properties" />
    </bean>

    <bean class="com.adhiraj.beans.Student" id="stdObj">
    	<property name="name" value="Adhiraj" />
    	<property name="roll" value="0" />
    	<property name="phoneno" value="687652341" />
    </bean>

</beans>